# pre-processing

In [1]:
#import all required library
import pandas as pd
import glob
import os

In [2]:
#all_files=glob.glob("/home/ridhhi/A-Z ML/CrimeReport/data/*")
#print(all_files)

In [3]:
all_files=glob.glob("/home/ridhhi/A-Z ML/CrimeReport/data/*")
df_from_each_file = (pd.read_csv(f,encoding='latin-1') for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)
concatenated_df.to_csv('merged.csv')

In [4]:
list(concatenated_df.columns.values)  #columns names after concatenating all csv into single datasets

['AdministrativeAdjustmentIndicator',
 'Beat',
 'CAD-Address',
 'CAD-Street',
 'CADAddress',
 'CADStreet',
 'Coded Month',
 'CodedMonth',
 'Complaint',
 'Count',
 'Crime',
 'Date Crime Coded',
 'Date Occur',
 'DateOccur',
 'DateOccured',
 'Description',
 'District',
 'Flag Cleanup',
 'Flag-Administrative',
 'Flag-Crime',
 'Flag-Unfounded',
 'FlagAdministrative',
 'FlagCleanup',
 'FlagCrime',
 'FlagUnfounded',
 'ILEADS-Address',
 'ILEADS-Street',
 'ILEADSAddress',
 'ILEADSStreet',
 'ILeads Add',
 'ILeads Approve',
 'ILeads Asg',
 'ILeads Type',
 'Location Comment',
 'Location Name',
 'LocationComment',
 'LocationName',
 'MonthReportedtoMSHP',
 'Neighborhood',
 'NewCrimeIndicator',
 'UnfoundedCrimeIndicator',
 'X-Coord',
 'XCoord',
 'Y-Coord',
 'YCoord']

In [5]:
concatenated_df

,AdministrativeAdjustmentIndicator,Beat,CAD-Address,CAD-Street,CADAddress,CADStreet,Coded Month,CodedMonth,Complaint,Count,...,LocationComment,LocationName,MonthReportedtoMSHP,Neighborhood,NewCrimeIndicator,UnfoundedCrimeIndicator,X-Coord,XCoord,Y-Coord,YCoord
0,,NaN,NaN,NaN,4363,MCPHERSON,NaN,NaN,NaN,1,...,,,2012-06,38,Y,,NaN,891174.8,NaN,1023665.0
1,,NaN,NaN,NaN,3101,LAFAYETTE,NaN,NaN,NaN,1,...,,,2012-06,31,Y,,NaN,897186.8,NaN,1013231.0
2,,NaN,NaN,NaN,2821,WYOMING,NaN,NaN,NaN,1,...,,,2012-06,30,Y,,NaN,897357.4,NaN,1006625.0
3,,NaN,NaN,NaN,4939,MARGARETTA,NaN,NaN,NaN,1,...,,,2012-06,69,Y,,NaN,892030.6,NaN,1035973.0
4,,NaN,NaN,NaN,3700,MINNESOTA,NaN,NaN,NaN,1,...,,,2012-06,19,Y,,NaN,895821.8,NaN,1003483.0
5,,NaN,NaN,NaN,4142,WILMINGTON,NaN,NaN,NaN,1,...,,,2012-06,5,Y,,NaN,886125.9,NaN,997549.9
6,,NaN,NaN,NaN,501,BROADWAY,NaN,NaN,NaN,1,...,,GATEWAY EDI,2012-06,35,Y,,NaN,909060.6,NaN,1018285.0
7,,NaN,NaN,NaN,4581,CARTER,NaN,NaN,NaN,1,...,,,2012-06,69,Y,,NaN,895648.1,NaN,1036605.0
8,,NaN,NaN,NaN,1500,NORTH KINGSHIGHWAY,NaN,NaN,NaN,1,...,INTERSECTION OF NORTH KINGSHIGHWAY A,,2012-06,55,Y,,NaN,888327.1,NaN,1030365.0
9,,NaN,NaN,NaN,4535,DR MARTIN LUTHER KIN,NaN,NaN,NaN,1,...,DR. KING AND DEER,,2012-06,56,Y,,NaN,891626.7,NaN,1028770.0
10,,NaN,NaN,NaN,2311,RUSSELL,NaN,NaN,NaN,1,...,,,2012-06,23,Y,,NaN,900134.6,NaN,1011444.0
11,,NaN,NaN,NaN,4000,IOWA,NaN,NaN,NaN,1,...,,,2012-06,16,Y,,NaN,897153.6,NaN,1001157.0
12,,NaN,NaN,NaN,6756,CHIPPEWA,NaN,NaN,NaN,1,...,,CHIPPEWA EYE CARE,2012-06,8,Y,,NaN,874910.8,NaN,1003329.0
13,,NaN,NaN,NaN,3862,WYOMING,NaN,NaN,NaN,1,...,,,2012-06,15,Y,,NaN,891957.1,NaN,1007219.0
14,,NaN,NaN,NaN,4014,NORTH UNION,NaN,NaN,NaN,1,...,,,2012-06,0,Y,,NaN,0.0,NaN,0.0
15,,NaN,NaN,NaN,8739,ORIOLE,NaN,NaN,NaN,1,...,,,2012-06,74,Y,,NaN,894681.4,NaN,1049947.0
16,,NaN,NaN,NaN,3122,TAYLOR,NaN,NaN,NaN,1,...,,,2012-06,56,Y,,NaN,894057.1,NaN,1032072.0
17,Y,NaN,NaN,NaN,3200,SCHOOL,NaN,NaN,NaN,1,...,,,2012-06,0,,,NaN,0.0,NaN,0.0
18,,NaN,NaN,NaN,1200,CLARK,NaN,NaN,NaN,1,...,,,2012-06,10,Y,,NaN,878822.4,NaN,1013695.0
19,,NaN,NaN,NaN,4629,ALASKA,NaN,NaN,NaN,1,...,,,2012-06,30,Y,,NaN,897113.3,NaN,1006249.0
20,,NaN,NaN,NaN,5411,CABANNE,NaN,NaN,NaN,1,...,,,2012-06,49,Y,,NaN,0.0,NaN,0.0
21,,NaN,NaN,NaN,5629,SAINT LOUIS,NaN,NaN,NaN,1,...,ALIAS 5629 ST LOUIS AVE,,2012-06,50,Y,,NaN,885743.6,NaN,1035955.0
22,,NaN,NaN,NaN,,,NaN,NaN,NaN,1,...,,,2012-06,48,Y,,NaN,879298.6,NaN,1029071.0
23,,NaN,NaN,NaN,5055,ARSENAL,NaN,NaN,NaN,1,...,@SCHNUCKS - ARSENAL,,2012-06,13,Y,,NaN,884765.6,NaN,1009623.0
24,,NaN,NaN,NaN,4644,MARYLAND,NaN,NaN,NaN,1,...,,,2012-06,38,Y,,NaN,888521.2,NaN,1023504.0
25,,NaN,NaN,NaN,1545,SELLS,NaN,NaN,NaN,1,...,,,2012-06,73,Y,,NaN,893516.2,NaN,1049626.0
26,,NaN,NaN,NaN,3500,LINDELL,NaN,NaN,NaN,1,...,,,2012-06,37,Y,,NaN,897046.6,NaN,1020745.0
27,,NaN,NaN,NaN,5029,BEACON,NaN,NaN,NaN,1,...,,,2012-06,72,Y,,NaN,891151.6,NaN,1042017.0
28,,NaN,NaN,NaN,8937,EDNA,NaN,NaN,NaN,1,...,,,2012-06,74,Y,,NaN,895352.5,NaN,1051186.0
29,,NaN,NaN,NaN,1831,20TH,NaN,NaN,NaN,1,...,,,2012-06,60,Y,,NaN,904603.6,NaN,1024645.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555393,,NaN,NaN,NaN,1439,MCLARAN,NaN,NaN,NaN,1,...,,,2010-12,74,Y,,NaN,894235.7,NaN,1049744.0
555394,,NaN,NaN,NaN,6944,SALZBURGER,NaN,NaN,NaN,1,...,,,2010-12,4,Y,,NaN,881956.1,NaN,995611.7
555395,,NaN,NaN,NaN,5515,DR MARTIN LUTHER KIN,NaN,NaN,NaN,1,...,,FRIENDLY TEMPLE,2010-12,78,Y,,NaN,884693.3,NaN,1032427.0
555396,,NaN,NaN,NaN,,,NaN,NaN,NaN,1,...,,,2010-12,20,Y,,NaN,906291.3,NaN,1011595.0
555397,,NaN,NaN,NaN,,,NaN,NaN,NaN,1,...,,,2010-12,15,Y,,NaN,887965.8,NaN,1004395.0
555398,,NaN,NaN,NaN,3710,GRAND,NaN,NaN,NaN,1,...,@ MOBILE GAS STATION,,2010-12,67,Y,,NaN,901258.3,NaN,1029801.0
555399,,NaN,NaN,NaN,3530,OREGON,NaN,NaN,NaN,1,...,,,2010-12,19,Y,,NaN,896973.3,NaN,1004213.0
555400,,NaN,NaN,NaN,4050,DELMAR,NaN,NaN,NaN,1,...,,,2010-12,38,Y,,NaN,893884.4,NaN,1023760.0
555401,,NaN,NaN,NaN,4608,POPE,NaN,NaN,NaN,1,...,,COUSIN S BARBEQUE,2010-12,68,Y,,NaN,897133.8,NaN,1035599.0
555402,,NaN,NaN,NaN,,,NaN,NaN,NaN,1,...,@ DELMAR,,2010-12,36,Y,,NaN,902442.3,NaN,1020988.0
555403,,NaN,NaN,NaN,,,NaN,NaN,NaN,1,...,TRAFFIC STOP,,2010-12,1,Y,,NaN,890870.0,NaN,989823.8
555404,,NaN,NaN,NaN,,9TH,NaN,NaN,NaN,1,...,,,2010-12,21,Y,,NaN,903661.4,NaN,1008135.0
555405,,NaN,NaN,NaN,3935,TAYLOR,NaN,NaN,NaN,1,...,1ST FLR,,2010-12,69,Y,,NaN,894943.6,NaN,1034063.0
555406,,NaN,NaN,NaN,3935,TAYLOR,NaN,NaN,NaN,1,...,1ST FLR,,2010-12,69,Y,,NaN,894943.6,NaN,1034063.0
555407,,NaN,NaN,NaN,3900,EVANS,NaN,NaN,NaN,1,...,,,2010-12,58,Y,,NaN,895802.2,NaN,1025751.0
555408,,NaN,NaN,NaN,,,NaN,NaN,NaN,1,...,,,2010-12,35,Y,,NaN,907968.3,NaN,1018058.0
555409,,NaN,NaN,NaN,5705,ERA,NaN,NaN,NaN,1,...,,,2010-12,76,Y,,NaN,890054.7,NaN,1047447.0
555410,,NaN,NaN,NaN,5705,ERA,NaN,NaN,NaN,1,...,,,2010-12,76,Y,,NaN,890054.7,NaN,1047447.0
555411,,NaN,NaN,NaN,5705,ERA,NaN,NaN,NaN,1,...,,,2010-12,76,Y,,NaN,890054.7,NaN,1047447.0
555412,,NaN,NaN,NaN,5705,ERA,NaN,NaN,NaN,1,...,,,2010-12,76,Y,,NaN,890054.7,NaN,1047447.0
555413,,NaN,NaN,NaN,5705,ERA,NaN,NaN,NaN,1,...,,,2010-12,76,Y,,NaN,890054.7,NaN,1047447.0
555414,,NaN,NaN,NaN,,,NaN,NaN,NaN,1,...,,,2010-12,77,Y,,NaN,896525.0,NaN,1021054.0
555415,,NaN,NaN,NaN,,,NaN,NaN,NaN,1,...,,,2010-12,66,Y,,NaN,902696.4,NaN,1036466.0
555416,,NaN,NaN,NaN,5500,ERA,NaN,NaN,NaN,1,...,,,2010-12,76,Y,,NaN,889932.3,NaN,1047229.0
555417,,NaN,NaN,NaN,4049,WINNEBAGO,NaN,NaN,NaN,1,...,,,2010-12,15,Y,,NaN,889766.6,NaN,1004399.0
555418,,NaN,NaN,NaN,5602,ENRIGHT,NaN,NaN,NaN,1,...,,,2010-12,48,Y,,NaN,882501.4,NaN,1027390.0
555419,,NaN,NaN,NaN,,,NaN,NaN,NaN,1,...,,,2010-12,63,Y,,NaN,906669.4,NaN,1026613.0
555420,,NaN,NaN,NaN,4314,ARCO,NaN,NaN,NaN,1,...,,,2010-12,39,Y,,NaN,889499.3,NaN,1017453.0
555421,,NaN,NaN,NaN,5008,MIAMI,NaN,NaN,NaN,1,...,RESIDENCE,,2010-12,14,Y,,NaN,884158.9,NaN,1005769.0
555422,,NaN,NaN,NaN,4455,LEXINGTON,NaN,NaN,NaN,1,...,,,2010-12,56,Y,,NaN,894777.7,NaN,1032815.0

In [6]:
df=pd.read_csv('data/January2018.CSV')  #single dataframe
df.head(2)
list(df.columns.values)

['Complaint',
 'CodedMonth',
 'DateOccur',
 'FlagCrime',
 'FlagUnfounded',
 'FlagAdministrative',
 'Count',
 'FlagCleanup',
 'Crime',
 'District',
 'Description',
 'ILEADSAddress',
 'ILEADSStreet',
 'Neighborhood',
 'LocationName',
 'LocationComment',
 'CADAddress',
 'CADStreet',
 'XCoord',
 'YCoord']